<div class="pagetitle">
    <div class="d-flex justify-content-between">
      <h1>Gestion des Approvisionnements</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">
              <i class="bi bi-house"></i> Accueil
            </a>
          </li>
          <li class="breadcrumb-item active">Approvisionnements</li>
        </ol>
      </nav>
    </div>
</div>

<hr>

<section class="section">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">{{ isEditMode ? 'Modification d\'un approvisionnement' : 'Enregistrement d\'un nouvel approvisionnement' }}</h5>
      
      <form novalidate class="row g-3" [formGroup]="achatForm" (ngSubmit)="onSubmit()">
        <!-- Informations générales -->
        <!-- <div [ngClass]="currentUser.profil.description.toLowerCase() === 'admin' || currentUser.profil.description.toLowerCase() === 'responsable_structure' ? 'col-md-4' : 'col-md-6'">
          <label for="libelle" class="form-label">Libellé <span class="text-danger">*</span></label>
          <input type="text" class="form-control" id="libelle" formControlName="libelle" [ngClass]="{'is-invalid': isSubmitting && f['libelle'].errors}">
          @if (isSubmitting && f['libelle'].errors) {
            <div class="invalid-feedback">
              @if (f['libelle'].errors['required']) {
                <div>Le libellé est requis</div>
              }
            </div>
          }
        </div> -->
        
        <div class="col-md-6">
          <label for="date_achat" class="form-label">Date d'achat <span class="text-danger">*</span></label>
          <input type="date" class="form-control" id="date_achat" formControlName="date_achat" [ngClass]="{'is-invalid': isSubmitting && f['date_achat'].errors}">
          @if (isSubmitting && f['date_achat'].errors) {
            <div class="invalid-feedback">
              @if (f['date_achat'].errors['required']) {
                <div>La date d'achat est requise</div>
              }
            </div>
          }
        </div>

        @if (currentUser.profil.code.toLowerCase() === 'admin' || currentUser.profil.code.toLowerCase() === 'responsable_structure') {
          <div class="col-md-4">
            <label class="form-label" for="boutique">Boutique <span class="text-danger">*</span></label>
            <select class="form-select " (change)="onBoutiqueChange($event)" [ngClass]="{'is-invalid': isSubmitting && f['boutique'].errors}" formControlName="boutique">
              <option value="">Sélectionner une boutique</option>
              @for (boutique of boutiques; track boutique.id) {
                <option [value]="boutique.id">{{ boutique.nom }}</option>
              }
            </select>
            @if (isSubmitting && f['boutique'].errors) {
              <div class="invalid-feedback">
                @if (f['boutique'].errors['required']) {
                  <div>La boutique est requise</div>
                }
              </div>
            }
          </div>
        }

        
        <div class="col-md-12">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" formControlName="description" rows="3"></textarea>
        </div>
        
        <div class="col-md-4">
          <label for="fournisseur" class="form-label">Fournisseur <span class="text-danger">*</span></label>
          <select class="form-select " id="fournisseur" formControlName="fournisseur" [ngClass]="{'is-invalid': isSubmitting && f['fournisseur'].errors}">
            <option [ngValue]="null" disabled>Sélectionnez un fournisseur</option>
            <option *ngFor="let fournisseur of fournisseurs" [ngValue]="fournisseur.id">{{ fournisseur.nom }}</option>
          </select>
          @if (isSubmitting && f['fournisseur'].errors) {
            <div class="invalid-feedback">
              @if (f['fournisseur'].errors['required']) {
                <div>Le fournisseur est requis</div>
              }
            </div>
          }
        </div>
        
        <div class="col-md-4">
          <label for="mode_paiement" class="form-label">Mode de paiement <span class="text-danger">*</span></label>
          <select class="form-select " id="mode_paiement" formControlName="mode_paiement" [ngClass]="{'is-invalid': isSubmitting && f['mode_paiement'].errors}">
            <option *ngFor="let mode of modesPaiement" [value]="mode">{{ mode | titlecase }}</option>
          </select>
          @if (isSubmitting && f['mode_paiement'].errors) {
            <div class="invalid-feedback">
              @if (f['mode_paiement'].errors['required']) {
                <div>Le mode de paiement est requis</div>
              }
            </div>
          }
        </div>
        
        <div class="col-md-4">
          <label for="statut" class="form-label">Statut <span class="text-danger">*</span></label>
          <select class="form-select " id="statut" formControlName="statut" [ngClass]="{'is-invalid': isSubmitting && f['statut'].errors}">
            <option *ngFor="let statut of statuts" [value]="statut">
              {{ statut === 'payer' ? 'Payé' : statut === 'non_payer' ? 'Non payé' : 'Paiement partiel' }}
            </option>
          </select>
          @if (isSubmitting && f['statut'].errors) {
            <div class="invalid-feedback">
              @if (f['statut'].errors['required']) {
                <div>Le statut est requis</div>
              }
            </div>
          }
        </div>
        
        <div class="col-md-12">
          <hr>
          <h5>Détails de l'achat</h5>
          
          <div formArrayName="detail_achat">
            <div *ngFor="let detail of detailAchat.controls; let i = index" [formGroupName]="i" class="row g-3 mb-3 py-2 border-bottom detail-achat-item">

              @if (detail.get('image')?.value) {
                  <div class="col-md-2">
                      <div class="image-produit" *ngIf="detail.get('image')?.value">
                      <img [src]="detail.get('image')?.value" alt="Produit" width="80" height="80">
                      <p class="stock-info">
                        🏷️ Stock disponible : 
                        <strong>{{ detail.get('stock')?.value }}</strong>
                      </p>
                    </div>
                  </div>
                }

              <div class="col">
                <label [for]="'produit_' + i" class="form-label">Produit <span class="text-danger">*</span></label>
                <select class="form-select " [id]="'produit_' + i" formControlName="produit"
                    [ngClass]="{'is-invalid': isSubmitting && detail.get('produit')?.errors}">
                  <option [ngValue]="null" disabled>Sélectionnez un produit</option>
                  <option *ngFor="let produit of produits" [ngValue]="produit.id">
                    {{ produit.nom }}
                  </option>
                </select>
                @if (isSubmitting && detail.get('produit')?.errors) {
                  <div class="invalid-feedback">
                    @if (detail.get('produit')?.errors?.['required']) {
                      <span>Le produit est requis.</span>
                    }
                  </div>
                }
              </div>
              
              <div class="col">
                <label [for]="'prix_' + i" class="form-label">Prix unitaire <span class="text-danger">*</span></label>
                <input type="text" class="form-control" [id]="'prix_' + i" formControlName="prix_unitaire" 
                      (input)="onPrixOuQuantiteChange()" thousandSeparator
                      [ngClass]="{'is-invalid': isSubmitting && detail.get('prix_unitaire')?.errors}">
                @if (isSubmitting && detail.get('prix_unitaire')?.errors) {
                  <div class="invalid-feedback">
                    @if (detail.get('prix_unitaire')?.errors?.['required']) {
                      <span>Le prix unitaire est requis.</span>
                    }
                    @if (detail.get('prix_unitaire')?.errors?.['min']) {
                      <span>Le prix unitaire doit être supérieur à 0.</span>
                    }
                  </div>
                }
              </div>
              
              <div class="col">
                <label [for]="'quantite_' + i" class="form-label">Quantité <span class="text-danger">*</span></label>
                <input type="number" class="form-control" [id]="'quantite_' + i" formControlName="quantite" 
                      (input)="onPrixOuQuantiteChange()"
                      [ngClass]="{'is-invalid': isSubmitting && detail.get('quantite')?.errors}">
                @if (isSubmitting && detail.get('quantite')?.errors) {
                  <div class="invalid-feedback">
                    @if (detail.get('quantite')?.errors?.['required']) {
                      <span>La quantité est requise.</span>
                    }
                    @if (detail.get('quantite')?.errors?.['min']) {
                      <span>La quantité doit être supérieure à 0.</span>
                    }
                  </div>
                }
              </div>
              
              <div class="col-md-1 mt-5">
                <button type="button" class="btn btn-danger" (click)="removeDetailAchat(i)">
                  <i class="bi bi-trash"></i>
                </button>
              </div>
            </div>
            
            <div class="text-center mb-3" *ngIf="detailAchat.length === 0">
              <p class="text-muted">Aucun produit ajouté. Utilisez le bouton ci-dessous pour ajouter des produits à l'achat.</p>
            </div>
            
            <div class="col-12 mb-3">
              <button type="button" class="btn btn-primary" (click)="addDetailAchat()">
                <i class="bi bi-plus-circle me-1"></i> Ajouter un produit
              </button>
            </div>
          </div>
        </div>
        
        <div class="col-md-6 offset-md-6">
          <div class="card bg-light">
            <div class="card-body">
              <h5 class="card-title">Montant total</h5>
              <div class="input-group">
                <span class="input-group-text">FCFA</span>
                <input type="text" class="form-control" formControlName="montant_total" readonly>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-12 text-end">
          <button type="submit" class="btn btn-success" [disabled]="loading">
            @if (loading) {
              <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              {{ isEditMode ? 'Mise à jour en cours...' : 'Enregistrement en cours...' }}
            } @else {
              <i class="ri ri-save-line"></i> {{ isEditMode ? 'Mettre à jour l\'approvisionnement' : 'Enregistrer l\'approvisionnement' }}
            }
          </button>
        </div>
      </form>
      <!-- <pre>{{ achatForm.value | json }}</pre> -->
    </div>
  </div>
</section>
