<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav"> 

    @for (item of filteredMenu; track $index) {

      <!-- Titre pour un ensemble de menu -->
      @if (item?.titre) {
        <li class="nav-heading mt-4">{{item?.titre}}</li>
      }

       
          <!-- Affichage pour un seul menu -->
          @if ( !item?.full) {
            <li class="nav-item">
              <a class="nav-link collapsed" [routerLink]="item?.menu[0]?.lien" [attr.data-bs-target]="'#' + item?.menu?.target" data-bs-toggle="collapse" href="#">
                <i [attr.class]="item?.menu[0]?.icon" ></i><span>{{item?.menu[0]?.libelle}}</span>
              </a>
            </li>
          }@else {
            <!-- Affichage pour un ensemble menu -->
            @for (items of item?.menu; track $index) {

              <li class="nav-item">
                <a class="nav-link collapsed" [attr.data-bs-target]="'#' + items?.target" data-bs-toggle="collapse" href="#">
                  <i [attr.class]="items?.icon"></i><span>{{items?.libelle}}</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>

                 <!-- Affichage sous-menu -->
                  <ul [attr.id]="items?.target" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                  
                    @for (itemSubmenu of items?.sousMenu; track $index) {
                   
                      <li>
                        <a [routerLink]="itemSubmenu?.lien" routerLinkActive="active">
                          <i [attr.class]="itemSubmenu?.icon"></i><span>{{itemSubmenu?.libelle}}</span>
                        </a>
                      </li>
                    }
                    
                  </ul>
    
              </li>

            }
          }

    }

  </ul>

</aside><!-- End Sidebar-->
