<div class="pagetitle">
    <div class="d-flex justify-content-between">
        <h1>Gestion des Catégories</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">
                <i class="bi bi-house"></i> Home</a>
            </li>
            <li class="breadcrumb-item active">Gestion des Catégories</li>
          </ol>
        </nav>
    </div>
</div>

<hr>

<section class="section">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <h5 class="card-title mb-0 text-uppercase">Liste des catégories</h5>
                        </div>
                        <div class="col-md-6 text-end">
                            <button type="button" class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#modal-fadein" (click)="openNewModal()">
                                <i class="bi bi-plus-circle"></i> Nouvelle Catégorie
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="text-center py-3">
                        <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                            <span class="visually-hidden">Chargement...</span>
                        </div>
                    </div>

                    <!-- DataTables init on table by adding .js-dataTable-buttons class -->
                     <table class="table table-bordered table-striped table-vcenter js-dataTable-buttons">
                        <thead>
                            <tr>
                              <th>Nom</th>
                              <th class="d-none d-sm-table-cell">Description</th>
                              <th class="d-none d-sm-table-cell">Date de création</th>
                              <th class="text-center" style="width: 15%;">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categorie of categories">
                                <td class="fw-semibold">{{ categorie.nom | titlecase }}</td>
                                <td class="d-none d-sm-table-cell">{{ categorie.description || 'Non définie' }}</td>
                                <td class="d-none d-sm-table-cell">{{ categorie.created_at | date:'dd/MM/yyyy' }}</td>
                                <td class="text-center">
                                  <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-info me-2" data-bs-toggle="tooltip" title="visualiser" (click)="openViewCategorie(categorie)">
                                      <i class="bi bi-eye"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-success me-2" data-bs-toggle="tooltip" title="Modifier" (click)="openEditCategorie(categorie)">
                                      <i class="bi bi-pencil-square"></i>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="tooltip" title="Supprimer" (click)="deleteCategorie(categorie)">
                                      <i class="bi bi-trash"></i>
                                    </button>
                                  </div>
                                </td>
                            </tr>
                            <tr *ngIf="categories.length === 0 && !isLoading">
                                <td colspan="5" class="text-center">Aucune catégorie trouvée</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal pour ajouter ou visualiser une nouvelle catégorie -->
<div class="modal fade" id="modal-fadein" tabindex="-1">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fw-bold">{{ titleModal }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form novalidate [formGroup]="categorieForm" (ngSubmit)="saveOrUpdateCategorie()">
            <div class="modal-body">
                <div class="block-content fs-sm">
                  <div class="mb-4">
                    <label class="form-label" for="nom">Nom</label>
                    <input type="text" class="form-control" id="nom" placeholder="Nom de la catégorie" formControlName="nom" [ngClass]="{'is-invalid': isSubmitted && f['nom'].errors}">
                    @if (isSubmitted && f['nom'].errors) {
                      <div class="invalid-feedback">
                        @if (f['nom'].errors['required']) {
                          <div>Le nom est obligatoire</div>
                        }
                      </div>
                    }
                  </div>
                  <div class="mb-4">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" id="description" rows="5" placeholder="Description de la catégorie" formControlName="description" [ngClass]="{'is-invalid': isSubmitted && f['description'].errors}"></textarea>
                    @if (isSubmitted && f['description'].errors) {
                      <div class="invalid-feedback">
                        @if (f['description'].errors['required']) {
                          <div>La description est obligatoire</div>
                        }
                      </div>
                    }
                  </div>
                </div>
            </div>
            <div class="modal-footer">
                @if (!titleModal.includes('VISUALISER')) {
                    <button type="submit" class="btn btn-primary me-2">
                      <i [class]="icon"></i> {{ buttonText }}
                    </button>
                  }
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                <i class="ri ri-close-circle-line"></i> {{ titleModal.includes('VISUALISER') ? 'Fermer' : 'Annuler' }}
                </button>
            </div>
        </form>
      </div>
    </div>
</div>